{% extends 'base.html' %}

{% block body %}
    <h2>Welcome to All Time Music adding board</h2>
    <h3>You can add some music data here.</h3>
    <a href="/band/create/"><button>Add band</button></a><br>
    <a href="/musician/create/"><button>Add musician</button></a><br>
    <a href="/label/create/"><button>Add label</button></a><br>
    <a href="/genre/create/"><button>Add genre</button></a><br>
    <a href="/album/create/"><button>Add album</button></a><br>
    <a href="/add/musician-to-band/"><button>Add musician to band</button></a><br>
    <a href="/"><button>Return to Main Page</button></a>
{% endblock %}