{% extends 'base.html' %}

{% block body %}
    <h2>Welcome to All Time Music adding board</h2>
    <h3>You can add some music data here.</h3>
    <table class="table table-hover">
        <p><a href="/band/create/"><button type="button" class="btn btn-dark">Add band</button></a></p>
        <p><a href="/musician/create/"><button type="button" class="btn btn-dark">Add musician</button></a></p>
        <p><a href="/label/create/"><button type="button" class="btn btn-dark">Add label</button></a></p>
        <p><a href="/genre/create/"><button type="button" class="btn btn-dark">Add genre</button></a></p>
        <p><a href="/album/create/"><button type="button" class="btn btn-dark">Add album</button></a></p>
        <p><a href="/add/musician-to-band/">
            <button type="button" class="btn btn-dark">Add musician to band</button></a>
    </table>
{#    <a href="/"><button>Return to Main Page</button></a>#}
{% endblock %}