{% extends 'base.html' %}

{% block body %}

    <h2>Band details</h2>
    Added {{ band.added }} by {{ band.added_by }}
    <div class="details">
        <ul>
            <li>Name: {{ band.name }}</li>
            <li>Country of origin: {{ band.country_of_origin }}</li>
            <li>Location: {{ band.location }}</li>
            <li>Status: {{ band.get_status_display }}</li>
            <li>Formed in: {{ band.formed_in }}</li>
            {% if band.ended_in == empty %}
                {{ empty }}
            {% else %}
                <li>{{ band.ended_in }}</li>
            {% endif %}
            <li>Genre:</li>
            <td>{% for genre in band.genre.all %}
                    {{ genre.name }}<br>
                    {% endfor %}</td>
            <li>Lyrical themes: {{ band.lyrical_themes }}</li>
            <li>Current label: <a class="link-dark" href="/label/details/{{ band.current_label_id }}">
                {{ band.current_label }}</a></li>
            <li>Bio: {{ band.bio }}</li>
            {% if musicians %}
            <li>Members:</li>
            {% for musician in musicians %}
                <a class="link-dark" href="/musician/details/{{ musician.id }}">
                    {{ musician }} - {{ musician.role }}</a>
                <a href="/delete/musician-from-band/confirm/{{ musician.id }}">
                    <button class="btn btn-light">Delete from band</button></a><br>
            {% endfor %}
            {% endif %}
            {% if albums %}
            <li>Discography:</li>
            {% for album in albums %}
                <a class="link-dark" href="/album/details/{{ album.id }}">
                    {{ album.title }}({{ album.release_date }})</a>
                <a href="/review/create/{{ album.id }}/{{ band.id }}/"><button class="btn btn-light">
                    Add review</button></a><br>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
        <form action="/band/update/{{ band.id }}/">
            <p><input type="submit" class="btn btn-dark" value="Update band details"></p>
        </form>
        <form action="/band/delete/confirm/{{ band.id }}/">
            <p><input type="submit" class="btn btn-dark" value="Delete band from database"></p>
        </form>
{#        <form action="/">#}
{#            <p><input type="submit" class="btn btn-dark" value="Return to Main Page"></p>#}
{#        </form>#}
    <div class="break-after-form-button">
    </div>
{% endblock %}