{% extends 'base.html' %}

{% block body %}

    <h1>Bands</h1>
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Genre</th>
                <th>Status</th>
            </tr>
            <tr>
            {% for band in page_obj %}
            <tr>
                <td><a class="link-dark" href="/band/details/{{ band.id }}">{{ band.name }}</a></td>
                <td>{{ band.country_of_origin }}</td>
                <td>{% for genre in band.genre.all %}
                    {{ genre.name }}<br>
                    {% endfor %}</td>
                <td>{{ band.get_status_display }}</td>
            </tr>
            {% endfor %}
        </table>
    {% if page_obj.has_other_pages %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a></li>
                    {% endif %}
                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="">{{ i }}
                            <span class="sr-only"></span>
                            </a>
                        </li>
                        {% else %}
                        <li class ="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
    {% endif %}
{#<a href="/"><button>Return to Main Page</button></a>#}

{% endblock %}