<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Band details</title>
</head>
<body>
    <h2>Band details</h2>
    Added {{ band.added }} by {{ band.added_by }}
        <ul>
            <li>Name: {{ band.name }}</li>
            <li>Country of origin: {{ band.country_of_origin }}</li>
            <li>Location: {{ band.location }}</li>
            <li>Status: {{ band.get_status_display }}</li>
            <li>Formed in: {{ band.formed_in }}</li>
            {% if band.ended_in == empty %}
                {{ empty }}
            {% else %}
                <li>{{ band.ended_in }}</li>
            {% endif %}
            <li>Genre:</li>
            <td>{% for genre in band.genre.all %}
                    {{ genre.name }}<br>
                    {% endfor %}</td>
            <li>Lyrical themes: {{ band.lyrical_themes }}</li>
            <li>Current label: {{ band.current_label }}</li>
            <li>Bio: {{ band.bio }}</li>
            <li>Members:</li>
            {% for musician in musicians %}
                <a href="/musician/details/{{ musician.id }}">{{ musician }} - {{ musician.role }}</a>
                <a href="/delete/musician-from-band/confirm/{{ musician.id }}"><button>Delete from band</button></a>
            {% endfor %}
            <li>Discography:</li>
            {% for album in albums %}
                <a href="/album/details/{{ album.id }}">{{ album.title }}({{ album.release_date }})</a>
                <a href="/review/create/{{ album.id }}/{{ band.id }}/"><button>Add review</button></a><br>
            {% endfor %}
        </ul>
        <form action="/band/update/{{ band.id }}/">
            <p><input type="submit" value="Update band details"></p>
        </form>
        <form action="/band/delete/confirm/{{ band.id }}/">
            <p><input type="submit" value="Delete band from db"></p>
        </form>
        <form action="/">
            <p><input type="submit" value="Return to Main Page"></p>
        </form>
</body>
</html>