{% extends 'base.html' %}

{% block body %}

    <h3>Log in</h3><br>
    {{ message }}
    <form method="post">
        {% csrf_token %}
        {{ form }}
{#        <label for="login">Login: </label>#}
{#        <input type="text" name="login"><br>#}
{#        <label for="password">Password: </label>#}
{#        <input type="password" name="password"><br>#}
        <input type="submit" value="Log in">
    </form>
    <a href="/reset-password/{{ user.id }}">Reset your password</a><br>
    Don't have an account? <a href="/create-account/"><button>Join us!</button></a><br>
    <a href="/logout/"><button>Log out</button></a>
    <a href="/"><button>Return to Main Page</button></a>

{% endblock %}