<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome! - All Time Music</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
</head>
<body>
    <h1>Welcome to All Time Music</h1>
    <h3>All The Music is music database, which you can use to discover new music.</h3>
    <div class="">
        <a href=" login ">Log in</a><br>
        <a href="create-account ">Create account</a><br>
        Bands:<br>
        <li><a href="bands/alphabetical/">alphabetical</a></li>
        <li><a href="bands/genres/">genre</a></li>
        Albums:
        <li><a href="albums/last-added/">last added</a></li>
        <li><a href="albums/top_rated/">top rated</a></li>
        <a href=" labels">Labels</a><br>
        <a href="/bands/genres/">Genres</a><br>
        <a href="/reviews/list/ ">Album reviews</a><br>
        <a href=" add-board ">Add some info</a>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>