<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Review delete confirm </title>
</head>
<body>
    <h1>All Time Music!</h1>
    <p>Are you sure to delete review {{ review.subject }}?</p><br>
    <a href="/reviews/list/">No</a><br>
    <a href="/review/delete/{{ review.id }}/">Yes</a><br>
</body>
</html>
