{% extends 'base.html' %}

{% block body %}

    <h1>Reviews</h1>
        <table class="table table-hover">
            <tr>
                <th>Title</th>
                <th>Album</th>
                <th>Band</th>
                <th>Rate</th>
            </tr>
            <tr>
            {% for review in page_obj %}
            <tr>
                <td><a class="link-dark" href="/review/details/{{ review.id }}">{{ review.subject }}</a></td>
                <td>{{ review.album }}</td>
                <td>{{ review.band }}</td>
                <td>{{ review.rating }}</td>
                {% if review.user == user %}
                    <td><a href="/review/update/{{ review.id }}"><button>Edit</button></a>
                        <a href="/review/delete/confirm/{{ review.id }}"><button>Delete</button></a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    {% if page_obj.has_other_pages %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a></li>
                    {% endif %}
                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="">{{ i }}
                            <span class="sr-only"></span>
                            </a>
                        </li>
                        {% else %}
                        <li class ="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
{% endblock %}