.navbar-brand {
    color: antiquewhite;
    font-family: Chalkduster;
}

.nav-link {
    color: antiquewhite;
    font-family: Gill Sans;
}

.nav-link.active {
    color: antiquewhite;
    font-family: Gill Sans;
}

body {
    font-family: "Gill Sans", sans-serif;
    font-weight: 400;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
}

.details {
    max-width: 500px;
    margin: auto;
    width: 50%;
}

.details.review-subject {
    font-style: oblique;
}

.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination li.active a {
    background-color: lightgray;
    color: black;
    border-color: black;
}

.empty-div {
    height: 80px;
    width: 50%;
}

footer {
    position: fixed;
    bottom:0;
    width:100%;
    height:60px;
}

.break-after-form-button {
    height: 70px;
}