.navbar-brand {
    color: antiquewhite;
    font-family: Chalkduster;
}

.nav-link {
    color: antiquewhite;
    font-family: Gill Sans;
}

.nav-link.active {
    color: antiquewhite;
    font-family: Gill Sans;
}

body {
    font-family: "Gill Sans", sans-serif;
    font-weight: 400;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.pagination {
    display: inline-block !important;
    vertical-align: middle;
}
